html{
  background: rgb(32, 38, 45);
  margin: 0 auto;
  overflow-y: scroll  !important;

}
body{
  padding-right: 0 !important ;
}
header{
  padding-right: 0 !important;
}
.modal-open {
  padding-right: 0px !important;
}
Just changed to

.modal {
  padding-right: 0px !important;
}
ul ,h2,h1,h3,h4,h5,p,a,div{
  list-style: none;
  margin: 0;
  text-decoration: none;
}
.logo{
  width: 100%;
  margin:40px auto;
  margin-top: 70px;
}

//page transition

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 50ms;
}



/* linear-gradient(to right bottom, rgb(0, 127, 255), rgb(0, 89, 178) 120%); */
.App {
  width: 90%;
  font-family: 'Gowun Batang', serif;
  padding: 0 20px 20px 20px;
  position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
  border-radius: 16px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.658);
  margin: 0 auto; /* 페이지 중앙에 나타나도록 설정 */

  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  & ::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 20px;
  }
  //rgb(20, 79, 206)
}
.header-divider{
  width: 98%;
  height: 2px;
  background-color: tomato;
  border: none;
}
.header-divider[data-ison="true"]{
  width: 98%;
  height: 2px;
  background-color: rgb(136, 145, 139);
  border: none;
}
.content-divider{
  height: 2px;
  background-color: #777;
  width: 85%;
  border: none;
}
//텍스트 하이라이트 효과
.highlighted-text{
  background-color: rgb(235, 99, 99);
  font-family: 'Gowun Batang', serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 0px 5px;
  color: white;
}

// 카테고리 메뉴 ul
.menu-links{
  border-radius: 2px;
  display: flex;
  padding: 10px 0px;
  padding-bottom: 20px;
}


// 카테고리 메뉴 리스트 
.menu-link-list{
    border-bottom: 4px solid rgba(27, 94, 194, 0.966);
    padding:5px 10px;
    border-radius: 30px;
    background-color: rgba(122, 126, 123, 0.753);
    overflow-x: scroll;
    max-width:95%;
    box-shadow: inset 1px 1px 3px black;
}




// 콘텐츠 카드 hover 효과
.content-card {

  
  .content-img{
    max-width: 178px;
    max-height: 224px;
    min-height: 224px;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgba(29, 22, 22, 0.664);
  }
}

// 인풋 전역ㄴ
.text-editor{
  padding:20px 0;
  border: 1px solid smoke;
  border-radius: 20px;
}
// 미리보기 뷰

.code-block{
  min-height: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
  background-color:rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left:1px solid rgba(255,255,255,0.5);
  padding: 20px 0px;
  margin: 10px auto;
  border-radius: 20px;
  width: 90%;
  & *{
    max-width: 90%;
    margin: 0 auto;
  } 
  & img{
    max-width: 50%;
  }
  //code-block
  & pre{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: white;
    overflow-x: scroll;
    border-radius: 4px;
    background-color: #23241F;
  }
}
.content-form-divider{
  width: 90%;
  margin:40px auto;
  background: skyblue;
  border-radius: 15px;
  border: 1px dotted #171717;
}
//image upload preview
.imagePreviewUrl{
  width: 100%;
  margin: 35px 0 20px 0;
  border-radius: 20px;
  border :1px solid bisque;
  padding: 3px;
  max-height: 337px;
}        


//quill 에디터 추가 css
.quill{
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.459);
  width: 90%;
  min-height: 400px;
  margin: 20px auto;
  background-color: bisque;
  border-radius: 20px;
  border: 0;
  position: relative;
  img{
    width: 50%;
  }
  .ql-container.ql-snow{
    border: 0px;
  }
  
  .ql-toolbar.ql-snow{
    border: 0px;
    transition: all 0.3s linear;
    padding: 20px;
    top: 0;
  }
}

//페이지네이션 css

.pagination { 
  width: 30%;
  margin: 60px auto;
  display: flex; 
  justify-content: center; 
  padding-right: 20px;
} 

ul.pagination li { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:0px 4px;
  padding:2px 5px;
  display: inline-block;  
  font-weight: bold;
  width: 20%;
  height: 25px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 
ul.pagination li::before{ 
  content: none;
} 
ul.pagination li:first-child{ 
  border-radius: 5px 0 0 5px; 
} 
ul.pagination li:last-child{ 
  border-radius: 0 5px 5px 0;
} 
ul.pagination li a { 
  text-decoration: none;
  color: #777; 
  font-size: 1rem; 
} 
ul.pagination li.active a { 
  color: white; 
} 
ul.pagination li.active {
  border-radius: 40px;
  background-color: #337ab7; 
} 
ul.pagination li a:hover, ul.pagination li a.active {
    color: blue; 
} 



.resume-skill-set{
  width: 100%;
  overflow: visible;
}



.resume-skills{
  font-size: 18px;
  opacity: 0;
  transition: opacity 2s;
  &.active{
    opacity: 1;
  }
}


.switch {
  width: 60px;
  height: 8px;
  background-color: rgba(22, 93, 245, 0.651);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 10px 5px;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
  background-color: rgba(22, 93, 245, 0.651);
}


.handle {
  top:20px;
  width: 30px;
  height: 22px;
  background-color: white;
  border-radius: 40px;
}

table ,th{
  padding:7px
}


.profileImg{
  
  &:hover{
    transition: box-shadow 0.2s linear;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
  }
}

div.MuiModal-root{
  // transition: none;
  padding-right: 40px;
}




// 카테고리 메뉴 리스트 스크롤 
/* width */
::-webkit-scrollbar {
  height: 3px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.MuiPaper-root{
  padding-right: -17px !important;
}


.css-8je8zh-MuiTouchRipple-root{
  display: none;
}